.greetingheading {
    margin: 2%
}

/* ControlPanel.css */
.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.control-button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
    .control-panel {
        flex-direction: column;
    }

    .control-button {
        margin: 5px 0;
    }
}